<!DOCTYPE html>
<html>
<head>
  <title>ScideaSeminars</title>
  <%= stylesheet_link_tag    "scidea_seminars/application", :media => "all" %>
  <%= javascript_include_tag "scidea_seminars/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
